{% extends "short/base.html" %}
{% load static %}

{% block title %}URL Shortner - Make your URL shorter!{% endblock %}

{% block scripts %}
<script src="{% static 'clipboard/clipboard.js' %}"></script>
{% endblock%}

{% block content %}

<div class="row">
    <h2>You have a new URL!</h2>
</div>
<div class="row">
    <span id="url-result">
        Your short url is:
        <a id="target-id" href="http://{{ request.META.HTTP_HOST }}/{{ short_id }}">http://{{ request.META.HTTP_HOST }}/{{ short_id }}</a>
    </span>
</div>
<div class="row">
    <button id="copy-button" class="button" data-clipboard-target="#target-id">Copy to clipboard</button>
</div>
<script>
var clipboard = new Clipboard('.button');
clipboard.on('success', function(e) {
    console.log(e);
});
clipboard.on('error', function(e) {
    console.log(e);
});
</script>
{% endblock %}

